@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700;800&family=Prata&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 25%;
    border: 1px solid black;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

form h1{
    margin-top: 20px;
}

form{
    width: 25%;
    border: 1px solid black;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

form input{
    width: 90%;
    padding: 15px;
    margin: 18px;
    border: none;
    border-bottom: 1px solid black;

}

form input[type="submit"]{
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 40px;
    background: linear-gradient(to right, rgb(211, 162, 203), blueviolet);
    padding: 20px;
    bottom: 20px;
    margin-bottom: 70px;
}
